# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.idea/
*.swp

# coverage
coverage/

#internal files
ai_memory.md
implementation_plan.md
common_info.md
